.basketul {
  max-width: 700px;
}

.basketli {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  gap: 1rem;
  padding: 0.5rem;
  border: 1px solid darkgray;
  border-radius: 10px;
}
.basketlink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.favorremovebtn{
  background: none;
}
.favorremovebtn:hover{
  background: none;
}
.favorremovebtn svg{
  width: 3rem;
  height: 3rem;
  fill: rgb(97, 97, 97);
}